.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  gap: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gradientTitle {
  font-family: "Noto Serif Display", serif;
  font-size: 80px;
  font-style: italic;
  font-weight: 600;
  background: linear-gradient(187deg, #2497ff 0%, #004380 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subTitle {
  font-family: "SVN-Mightiest";
  font-weight: 400;
  font-size: 60px;
  color: #004380;
}

.description {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #0063a5;
  line-height: 1.5;
}

.carousel {
  width: 100%;
  max-width: 1400px;
  height: 100%;
}

.slideImage {
  width: 100%;
  height: 50rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
