.section {
  background: #fff;
}

.container {
  max-width: 1920px;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding: 0 8rem;
  width: 80%;
}

.texttitle {
  /* width: 50%; */
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 0;
  align-items: flex-start;
  align-items: end;
}

.title {
  font-family: SVN-Mightiest;
  font-size: 9rem;
  color: #004380;
  letter-spacing: 4px;
  text-align: left;
  margin: 0;
  width: fit-content;
}

.subtitle {
  font-family: SVN-Mightiest;
  font-size: 2.5rem;
  color: #004380;
  letter-spacing: 4px;
  text-align: left;
  margin: 0;
  padding-bottom: 1.5rem;
}

.desc {
  color: #0063a5;
  line-height: 1.6;
  text-align: left;
  font-size: 1.5rem;
}
/* TAB */
.tabs {
  display: flex;
}

.tab {
  flex: 1;
  padding: 12px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.3);
  font-weight: bold;
  transition: background 0.3s;
}

.active {
  background: #ff6700;
  color: #fff;
}

/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* MAP */
.map {
  position: relative;
}

.map img {
  width: 100%;
  display: block;
}

/* MARKER */
.marker {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ff6a00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.markerActive {
  transform: translate(-50%, -50%) scale(1.4);
  background: yellow;
  color: #000;
}

/* LIST */
.list {
  background: #1f5fae;
  color: #fff;
  padding: 20px;
}

.item {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.itemActive {
  background: rgba(255, 255, 255, 0.2);
}

.number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff6a00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.text p {
  margin: 0;
  font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .list {
    margin-top: 20px;
  }
}
