.section {
  background: #fff;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding: 0 8rem;
  box-sizing: border-box;
}

.texttitle {
  display: grid;
  grid-template-columns: 0.175fr 1fr;
  gap: 0;
  align-items: flex-end;
  width: 100%;
}

.title {
  font-family: SVN-Mightiest;
  font-size: 9rem;
  color: #004380;
  letter-spacing: 4px;
  text-align: left;
  margin: 0;
  font-weight: 400;
  width: fit-content;
}

.subtitle {
  font-family: SVN-Mightiest;
  font-size: 2.5rem;
  color: #004380;
  letter-spacing: 4px;
  text-align: left;
  margin: 0;
  padding-bottom: 1.5rem;
}

.desc {
  color: #0063a5;
  line-height: 1.6;
  text-align: left;
  font-size: 1.5rem;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}
/* TAB */
.tabs {
  display: flex;
  padding: 0 8rem;
  box-sizing: border-box;
}

.tab {
  flex: 1;
  padding: 12px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.3);
  font-weight: bold;
  transition: background 0.3s;
}

.active {
  background: #ff6700;
  color: #fff;
}

/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: 2.75fr 1fr;
  padding: 0 8rem;
  box-sizing: border-box;
}

/* MAP */
.map {
  position: relative;
}

.map img {
  width: 100%;
  display: block;
}

/* MARKER */
.marker {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ff6a00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.markerActive {
  transform: translate(-50%, -50%) scale(1.4);
  background: yellow;
  color: #000;
}

/* LIST */
.list {
  background: #1f5fae;
  color: #fff;
  padding: 1.25rem;
}

.item {
  display: flex;
  gap: 0.75rem;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

.item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.itemActive {
  background: rgba(255, 255, 255, 0.2);
}

.number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff6a00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text p {
  margin: 0;
  font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 1084px) {
  .header {
    padding: 0 2rem;
  }

  .tabs {
    padding: 0 2rem;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .texttitle {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.2rem;
    padding-bottom: 0.75rem;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 2rem;
  }

  .tabs {
    padding: 0 2rem;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .texttitle {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.2rem;
    padding-bottom: 0.75rem;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0 1rem;
    gap: 0.5rem;
  }

  .tabs {
    padding: 0 1rem;
  }

  .wrapper {
    padding: 0 1rem;
  }

  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .desc {
    font-size: 0.875rem;
    line-height: 1.4;
  }
  .list {
    padding: 0;
    margin: 0;
  }
}
