.wrapper {
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: center;
  /* background: #fff; */
  background: transparent;
}

.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  color: #0e2046;
  text-align: center;
}

.form {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px;
  gap: 0.75rem;
}

.inputGroup label {
  font-family: Montserrat;
  font-size: 16px;
  margin-bottom: 6px;
  color: #0e2046;
  text-align: left;
}

.inputGroup input {
  border: none;
  border-bottom: 1px solid #0063a5;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.3125rem 0.625rem;
  outline: none;
}

.btn {
  background: #ff7b1a;
  border: 1px solid #0063a5;
  border-radius: 5px;
  padding: 0.625rem 2rem;
  font-family: Montserrat;
  font-weight: 600;
  color: #0063a5;
  cursor: pointer;
  height: 42px;
}

.btn:hover {
  opacity: 0.9;
}

.hotline {
  text-align: center;
  font-family: Montserrat;
  font-style: italic;
  font-size: 1.25rem;
  color: #0e2046;
}
