.wrapper {
  width: 100%;
  padding: 80px 0;
  text-align: center;
  overflow: hidden;
}

/* Title */
.title {
  font-size: 60px;
  color: #004380;
  margin-bottom: 40px;
  font-family: "SVN-Mightiest";
}

/* Carousel */
.carousel {
  width: 100%;
  overflow: hidden;
}

.list {
  display: flex;
  gap: 10rem;
  transition: transform 0.8s ease;
}

/* Card */
.card {
  min-width: 60%;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  transition: transform 0.8s ease;
  flex-shrink: 0;
}

/* Overlay text */
.overlay {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: left;
}

.overlay p {
  font-size: 24px;
  font-weight: 600;
  color: #004380;
}

/* Dot */
.dot {
  margin-top: 20px;
  font-size: 24px;
  color: #004380;
  font-weight: 600;
}
