/* Thêm vào index.css hoặc App.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "SVN-Mightiest";
  src: url("/src/assets/fonts/SVN-Mightiest.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1024px) {
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  img {
    width: 100%;
  }
}
