.wrapper {
  background: #004380;
  padding: 60px 80px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.content {
  width: 100%;
  flex: 1;
  color: #fff;
}

.mainTitle {
  font-family: SVN-Mightiest;
  font-size: 3.75rem;
  margin-bottom: 1.25rem;
}

.subTitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap:2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 0.5rem;
  height: 8rem;
}

.cardTitle {
  padding-top: 0.5rem;
  font-size: 1.25rem;
  display: block;
}

.cardPrice {
  font-family: SVN-Mightiest;
  font-size: 3.75rem;
}

/* SLIDER */
.slider {
  width: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
